#exampleTable {
  width: 1250px;
}
#machine-type-header {
  width: 16%;
}
#machine-id-header {
  width: 16%;
}
#created-time-header {
  width: 16%;
}
#updated-time-header {
  width: 16%;
}
#comment-header {
  width: 16%;
}
#action-header {
  width: 16%;
}
#inner-blank-header {
  width: 20%;
}
#inner-machine-id-header {
  width: 16%;
}
#inner-created-time-header {
  width: 16%;
}
#inner-updated-time-header {
  width: 16%;
}
#inner-comment-header {
  width: 16%;
}
#inner-action-header {
  width: 16%;
}
td.details-control {
  margin: 0 !important;
  padding: 0 !important;
}
td thead {
  visibility: collapse;
}
