body #exampleTable_wrapper {
  margin-top: 30px;
  margin-left: 100px;
  width: 1600px !important;
  padding: auto !important;
}
#exampleTable thead {
  text-align: left;
}
#exampleTable th {
  padding-left: 0 !important;
}
#machine-type-header {
  width: 16%;
}
#machine-id-header {
  width: 16%;
}
#created-time-header {
  width: 16%;
}
#updated-time-header {
  width: 16%;
}
#comment-header {
  width: 16%;
}
#action-header {
  width: 16%;
}
#inner-blank-header {
  width: 16%;
}
#inner-machine-id-header {
  width: 16%;
}
#inner-created-time-header {
  width: 16%;
}
#inner-updated-time-header {
  width: 16%;
}
#inner-comment-header {
  width: 16%;
}
#inner-action-header {
  width: 16%;
}
td.details-control {
  margin: 0 !important;
  padding: 0 !important;
  width: 0 !important;
}
td thead {
  visibility: collapse;
}
td {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.inner-action-edit{
  margin-left: 45px;
}
.machine-type-group{
  display: flex;
  margin: 0% !important;
  padding: 0% !important;
}
.product-image{
  width: 30px;
  height: 30px;
}
.product-name{
margin-top: auto;
margin-bottom: auto;
margin-left: 10px;
}
.arrow-down{
  width: 30px;
  height: 30px;
}
